/* variáveis */
:root{
    --fakewhite: #f0f0f0;
}

/* fontes */
@font-face {
    font-family: 'mainFont';
    src: url('/css/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titleFont';
    src: url('/css/fonts/LEMONMILK-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

/* reset */
html, body{
    margin: 0;
    padding: 0;
}

/* estilos básicos */
body{
    background-color: var(--fakewhite);
}
*{
    font-family: mainFont;
}
h1, h2, h3, h4, h5, h6{
    font-family: titleFont;
}
nav{
    background-color: #202020;
}

/* mobile */
html, body{
    height: 100%;
}
nav{
    height: 100%;
    width: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 8px;
}

nav img{
    width: 60%;
}

/* web e outros tamanhos */
